BAUD_RATE=9600
SERIAL_TIMEOUT=1.0
SAMPLE_INTERVAL=1
SENSOR_WARMUP_SECONDS=0.1
SENSOR_READ_ATTEMPTS=5
BINARY_LABELS_SWAPPED=false
SENSOR_READ_FALLBACK_ENABLED=false
SENSOR_READ_FALLBACK_VALUE=0.0

I1_PORT=/dev/serial0
I2_PORT=/dev/ttyUSB0
I3_PORT=/dev/ttyUSB1

THINGSPEAK_ENABLED=false
THINGSPEAK_API_KEY=REPLACE_WITH_YOUR_THINGSPEAK_WRITE_API_KEY
THINGSPEAK_URL=https://api.thingspeak.com/update
